footer.footer
    .container
        .row
            .col-12.information
                .row
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                        h6
                            | YOU THING WE'RE COOL?LET'S
                        h6
                            | WORK TOGETHER
                        button
                            | GET IN TOUCH
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                        h6
                            | STAY INFORMED WITH OUR
                        h6
                            |NEWSLETTER
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet commodi doloribus minima porro quaerat quasi.

                        form.form-inline
                            .form-group.mx-sm-3.mb-2
                                label.sr-only(for='inputEmail') Email
                                input#inputEmail.form-control(type='text', placeholder='EMAIL')
                            button.btn.btn-primary.mb-2(type='submit') SENT


