header.header
    nav.navbar.collapse-my
        a.navbar-brand-my(href='#') AKAD.
        button.btn-navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.btn-navbar
        #navbarNav.collapse.navbar-collapse
            .wrap-ul
                ul.navbar-nav.text-center
                    li.nav-item.link-pages
                        a.nav-link(href='#') HOME
                    li.nav-item.link-pages
                        a.nav-link(href='#') ABOUT US
                    li.nav-item.link-pages
                        a.nav-link(href='#') SERVICES
                    li.nav-item.link-pages
                        a.nav-link(href='#') PORTFOLIO
                    li.nav-item.link-pages
                        a.nav-link(href='#') BLOCK
                    li.nav-item.link-pages
                        a.nav-link(href='#') CONTACT US
