
doctype html
html(lang='ru')
    include head
    body
        .container-fluid
            .row
                include header
                main
                    block content
                include footer
