@import "variables"
.collapse-my
  width: 100%
  //height: 70px
  //background: #000
  position: absolute
  left: 0
  top: 0


.navbar-brand
  position: relative
  left: 80px
  top: 49px
  color: $gray-content
.btn-navbar-toggler
  padding: 0.25rem 0.75rem
  font-size: 1.25rem
  line-height: 1
  background-color: transparent
  border: none
  position: absolute
  top: 49px
  right: 80px

.btn-navbar
  padding: 0
  margin: 0
  display: inline-block
  width: 1.5em
  height: 1.5em
  vertical-align: middle
  content: ""
  background: no-repeat center center
  background-size: 100% 100%
  background-image: url(../../assets/img/header/icon-toggle.png)
  cursor: pointer
