
section.history-agency
    .container
        .row
            .col-12.text-center.main-content

                    p
                        | WE'RE

                    h1
                        | CREATIVE AGENCY

                    h2
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem beatae, cum dolor dolores eius eum,

            .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.img-content
                img(src='../../assets/img/homepage/img-home-page.png')
            .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.bit-history.text-justify
                h3
                    span.bit-bg-span HIST
                    | ORY OF AGENCY
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | A accusamus adipisci, asperiores, commodi consectetur deleniti
                    | ea eligendi laudantium maiores molestias quasi quod quos ratione
                    | recusandae reiciendis repudiandae saepe totam veniam.| A accusamus adipisci, asperiores, commodi consectetur deleniti
                    | ea eligendi laudantium maiores molestias quasi quod quos ratione
                    | recusandae reiciendis repudiandae saepe totam veniam.

                button.font-weight-bold
                    | READ MORE
section.choose-us
    .container
        .row
            .col-12.text-center.choose
                h3
                    span.bit-bg-span WHY
                    | CHOOSE US
                h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus asperiores assumenda blanditiis,
            .col-12.col-choose
                .row
                    .col-xs-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                        .col.first-block
                            .img-ico
                                img(src='../../assets/img/homepage/unlimited-ico.png')
                            h5.font-weight-bold UNLIMITED OPTIONS
                            p BRANDING
                            p DESIGN & COPYWRITING
                            p CONCEPT DEVELOPMENT
                            p USER EXPERIENCE

                        .col
                            .img-ico
                                img(src='../../assets/img/homepage/commerce-ico.png')
                            h5.font-weight-bold E-COMMERCE
                            p BRANDING
                            p DESIGN & COPYWRITING
                            p CONCEPT DEVELOPMENT
                            p USER EXPERIENCE
                    .col-xs-12.col-sm-6.col-md-3.col-lg-3.col-xl-3
                        .col.first-block
                            .img-ico
                                img(src='../../assets/img/homepage/design-ico.png')
                            h5.font-weight-bold DESIGN & DEVELOPMENT
                            p BRANDING
                            p DESIGN & COPYWRITING
                            p CONCEPT DEVELOPMENT
                            p USER EXPRIENCE
                        .col
                            .img-ico
                                img(src='../../assets/img/homepage/customizable-ico.png')
                            h5.font-weight-bold CUSTOMIZABLE DESIGN
                            p BRANDING
                            p DESIGN & COPYWRITING
                            p CONCEPT DEVELOPMENT
                            p USER EXPERIENCE
                    .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                        img(src='../../assets/img/homepage/img-home-page-2.png')
section.portfolio
    .container
        .row
            .col-12.text-center
                h3
                    span.bit-bg-span OUR
                    | PORTFOLIO
                h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi, autem commodi dolore eius fugiat inventore itaque,
            .col-12
                .row
                    .col-xs-12.col-sm-12.col-md-3.col-lg-3.col-xl-3
                        h3 CHOOSE CATEGORY
                        button.btn-portfolio ALL
                        br
                        button.btn-portfolio WEBDESIGN
                        br
                        button.btn-portfolio FASHION
                        br
                        button.btn-portfolio LOGO DESIGN
                        br
                        button.btn-portfolio ADVERTISTING
                        br
                        button.btn-portfolio GRAPHIC DESIGN
                    .col-xs-12.col-sm-12.col-md-3.col-lg-3.col-xl-3.img-xs-center
                        img(src='../../assets/img/homepage/portfolio/Layer 5.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 8.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 11.png')
                    .col-xs-12.col-sm-12.col-md-3.col-lg-3.col-xl-3.img-xs-center
                        img(src='../../assets/img/homepage/portfolio/Layer 6.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 9.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 14.png')
                    .col-xs-12.col-sm-12.col-md-3.col-lg-3.col-xl-3.img-xs-center
                        img(src='../../assets/img/homepage/portfolio/Layer 7.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 10.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 13.png')


