
section.history-agency
    .container
        .row
            .col-12.text-center

                    p
                        | WE'RE

                    h1
                        | CREATIVE AGENCY

                    h2
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem beatae, cum dolor dolores eius eum,
                    h2
                        | exercitationem libero magni neque porro praesentium quas, rerum suscipit totam unde ut vero voluptatum.

            .col-6
                img(src='../../assets/img/homepage/img-home-page.png')
            .col-6
                h3
                    | HISTORY OF AGENCY
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p A accusamus adipisci, asperiores, commodi consectetur deleniti
                p ea eligendi laudantium maiores molestias quasi quod quos ratione
                p recusandae reiciendis repudiandae saepe totam veniam.

                button
                    | READ MORE
section.choose-us
    .container
        .row
            .col-12.text-center
                h3 WHO CHOOSE US
                h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus asperiores assumenda blanditiis,
            .col-12
                .row
                    .col-3
                        .col 1
                            img(src='')
                            h5 UNLIMITED OPTIONS
                            p BRANDING
                            p DESIGN & COPYWRITING
                            p CONCEPT DEVELOPMENT
                            p USER EXPERIENCE

                        .col 2
                            img(src='')
                            h5 UNLIMITED OPTIONS
                            p BRANDING
                            p DESIGN & COPYWRITING
                            p CONCEPT DEVELOPMENT
                            p USER EXPERIENCE
                    .col-3
                        .col 1
                            img(src='')
                            h5 UNLIMITED OPTIONS
                            p BRANDING
                            p DESIGN & COPYWRITING
                            p CONCEPT DEVELOPMENT
                            p USER EXPERIENCE
                        .col 2
                            img(src='')
                            h5 UNLIMITED OPTIONS
                            p BRANDING
                            p DESIGN & COPYWRITING
                            p CONCEPT DEVELOPMENT
                            p USER EXPERIENCE
                    .col-6
                        img(src='../../assets/img/homepage/img-home-page-2.png')
section.portfolio
    .container
        .row
            .col-12.text-center
                h3 OUR PORTFOLIO
                h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi, autem commodi dolore eius fugiat inventore itaque,
            .col-12
                .row
                    .col-3
                        button name
                        button name
                        button name
                        button name
                        button name
                        button name
                    .col-3
                        img(src='../../assets/img/homepage/portfolio/Layer 5.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 6.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 7.png')
                    .col-3
                        img(src='../../assets/img/homepage/portfolio/Layer 8.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 9.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 10.png')
                    .col-3
                        img(src='../../assets/img/homepage/portfolio/Layer 11.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 14.png')
                        img(src='../../assets/img/homepage/portfolio/Layer 13.png')


